<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
                <add name="PHP-FastCGI-sub8.2" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php8.2\php-cgi.exe" resourceType="File" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\ABrechozeiraApp.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
    <location path="" overrideMode="Inherit">
        <system.webServer>
            <urlCompression doDynamicCompression="false" />
            <defaultDocument enabled="true">
                <files>
                    <add value="index.htm" />
                    <add value="index.html" />
                    <add value="index.php" />
                    <add value="index.asp" />
                    <add value="default.asp" />
                    <add value="index.aspx" />
                    <add value="default.aspx" />
                </files>
            </defaultDocument>
        </system.webServer>
    </location>
</configuration>
<!--ProjectGuid: de304c99-1fdd-41ad-87e7-c951950e77ce-->